// Slider slide image widths used in media queries
$slide-previewer-width-mobile: 320px !default; 
$slide-previewer-width-small: 480px !default;
$slide-previewer-width-medium: 640px !default;
$slide-previewer-width-wide: 768px !default;

// Size - Aspect Ratio for Main Slide
// - standard aspect ratios (landscape): 4/3, 16/9
// - standard aspect ratios (portrait): 3/4, 9/16
// - adaptive height: 1
$slide-previewer-aspect-ratio: 16/9 !default; 

.slider-wrapper, .slider-nav { background: $slider-nav-bg; }

#content > .slider-wrapper {
    @include pie-clearfix;
    width: 100%;
    float: none;
    margin-bottom: 1em;
    padding: 0;
    button::before,
    button::after {
        color: $slider-arrow-color;
    }
    @media only screen and (min-width: 360px) {
      margin: 1em auto;
    }
    @media only screen and (min-width: 640px) {
      width: 91%;
    }
    .slider-hero,
    .slider-nav {
      float: none;
      width: $slide-previewer-width-mobile;
      margin: 0 auto;
      img { width: 100%; }
      @media only screen and (min-width: 480px) {
        width: 100%;
        max-width: $slide-previewer-width-small;
      }
      @media only screen and (min-width: 768px) {
        width: 100%;
        max-width: $slide-previewer-width-medium;
      }
      @media only screen and (min-width: 992px) {
        width: 100%;
        max-width: $slide-previewer-width-wide;
      }
    }
    .slider-hero {
        border: 5px solid $slider-nav-bg;
        max-height: $slide-previewer-width-mobile/$slide-previewer-aspect-ratio;
        overflow: hidden;
        @media only screen and (min-width: 480px) {
          max-height: slide-height($slide-previewer-aspect-ratio, $slide-previewer-width-small)
        }
        @media only screen and (min-width: 768px) {
          max-height: slide-height($slide-previewer-aspect-ratio, $slide-previewer-width-medium)
        }
        @media only screen and (min-width: 992px) {
          max-height: slide-height($slide-previewer-aspect-ratio, $slide-previewer-width-wide)
        }
    }
}
.slider-nav {
  .slick-slide { padding: 1em .25em 1em .25em; }
}

/* Sidebar Disabled - Increase Slider Size */

@media only screen and (min-width: 768px) {
    .no-sidebar {
        .slider-wrapper,
        .slider-hero,
        .slider-nav {
            width: $slide-previewer-width-medium * 1.25;
        }
        .slider-hero {
            max-height: slide-height-no-sidebar($slide-previewer-aspect-ratio, $slide-previewer-width-medium)
        }
    }
}

@media only screen and (min-width: 992px) {
    .no-sidebar {
        .slider-wrapper,
        .slider-hero,
        .slider-nav {
            width: $slide-previewer-width-wide * 1.25;
        }
        .slider-hero {
            max-height: slide-height-no-sidebar($slide-previewer-aspect-ratio, $slide-previewer-width-wide)
        }
    }
}
