body > nav {
    line-height: 1em;
    width: 100%;
    position: relative;
    @include background($nav-bg-gradient);
    border: {
        top: 1px solid $nav-border-top;
        bottom: 1px solid $nav-border-bottom;
    }
    padding: {
        left: 0;
        top: .35em;
        right: 0;
        bottom: .35em;
    }
    // JS enabled - show collapsible nav menu
    // JS disabled - show expanded nav menu
    .nav-js {
        ul {
            position: absolute;
            left: -999em;
            width: 1em;
            overflow: hidden;
        }
        &.expanded {
            ul {
                position: relative;
                left: 0;
                width: 100%;
                overflow: visible;
            }
        }
    }
    .nav-menu h3 {
        margin: 0;
        width: 100%;
        &::before {
            padding-left: .5em;
            padding-right: 1em;
        }
    }
    .mobile-menu-item {
        display: block;
        @media only screen and (min-width: 550px) {
            display: none;
        }
    }

    ul {
        margin-left: .5em;
    }
    li {
        text-indent: 2em;
        padding-top: .3rem;
        padding-bottom: .3rem;
        list-style-type: none;
        a, a:hover, a:visited {
            text-decoration: none;
            color: $nav-color;
        }
        a:active {
            color: $link-color-active;
        }
        &.active {
            background: $link-color-active;
        }
    }
    .subscription {
        .mobile-menu-item {
            text-indent: 2em;
        }
        li {
            text-indent: 0;
            a::before {
                display: none;
            }
        }
    }
    form {
        font-family: $sans;
        padding: .25em 0 .25em 0;
        @include background-clip(padding-box);
        fieldset[role="search"] {
            width: 99%;
            margin: auto;
            label[for="search-box"]::before {
                padding: .5em;
            }
        }
        .search {
            font-family: $fa, $sans;
            font-size: .85em;
            line-height: 1.5em;
            width: 85%;
            @include border-radius(.3em);
            @include background-clip(padding-box);
            @include box-shadow(lighten($nav-bg, 2) 0.5px 0.5px);
            border: 1px solid $nav-border;
        }
    }
    @media only screen and (min-width: 550px) {
        .main-navigation,
        .subscription {
            display: inline-block;
            vertical-align: middle;
        }
        form {
            display: inline-block;
            fieldset[role="search"] {
                width: $sidebar-width-medium - $sidebar-pad-medium*2 + 20px;
                position: absolute;
                top: 0;
                right: 0;
                padding: .5em;
                label[for="search-box"]::before {
                    position: absolute;
                    left: -1em;
                    top: .25em;
                }
            }
            .search {
                width: 95%;
                text-indent: .5em;
            }
        }
        ul {
            margin: 0;
            li {
                text-indent: 1em;
                float: left;
                padding: 0;
                a {
                    @include link-colors($nav-color, $nav-color-hover, $visited: $nav-color);
                    font-family: $sans;
                    text-shadow: lighten($nav-bg, 12) 0 1px;
                    font-size: 1.1em;
                    padding: .5em 0;
                    line-height: 1.5em;
                    &:hover {
                        @include text-shadow(0, 1px, 1px, $nav-bg);
                        color: $nav-color-hover;
                    }
                }
            }
            li:first-child { text-indent: 1.5em; }
            li + li {
                border-left: 1px solid $nav-border-left;
                margin-left: .8em;
            }
        }
        ul.subscription {
            position: absolute;
            top: -3em;
            right: 0;
            padding: .5em;
            li + li { border: none; }
            a {
                &::before, &::after {
                    display: inline;
                    font-size: 1.5em;
                }
            }
        }
    }
    @media only screen and (min-width: 768px) {
        ul li:first-child { text-indent: 2em; }
        label[for="search-box"]::before {
            color: $nav-color;
        }
    }
    @media only screen and (min-width: 992px) {
        ul li:first-child { text-indent: 3em; }
        form {
            fieldset[role="search"] {
                width: $sidebar-width-wide - $sidebar-pad-wide*2 + 20px;
            }
        }
    }
}
