---
layout: default
---
<div>
<article role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}
  {{ content }}
</article>
</div>
{% for project in site[page.collection] %}
{% assign title = project.basename_without_ext %}
{% if page.projects contains title %}
<div class="project project-cover-block" id="{{ title }}">
    <a href="{{ project.url }}"> 
    <div class="project-cover-img"> 
    {% if project.cover_image_path %}  
        <img src="{{ project.cover_image_path }}" alt="Project cover image" />
    {% endif %}
    </div>
    </a>
    <div class="project-cover-desc">
        {% if project.site %}
        <div class="external-link-launcher">
        <a target="_blank" href="{{ project.site }}">
            <i class="fa fa-external-link fa-lg"></i>
        </a>
        </div>
        {% endif %}
        <a href="{{ project.url }}">
        <h2>{{ project.title }}</h2>
        {% if project.subtitle %}
        <h3>// {{ project.subtitle }}</h3>
        {% endif %}
        </a>
    </div>
    <div class="project-cover-ext">
        {% if project.github %}
        <a target="_blank" href="{{ project.github }}">
            <li>
                <i class="fa fa-github-square fa-lg fa-fw"></i>
                GitHub
            </li>
        </a>
        {% endif %}
        {% if project.bitbucket %}
        <a target="_blank" href="{{ project.bitbucket }}">
            <li>
                <i class="fa fa-bitbucket fa-lg fa-fw"></i>
                BitBucket                    
            </li>
        </a>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
