/* Main Background Images */
$noise-bg: image-url('noise.png') top left !default;
$geometric-bg: image-url('footer_lodyas.png') top left !default;
$img-border: inline-image('dotted-border.png') !default;


/* Main Link Colors */
// Font
$link-color: lighten(#165b94, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 15, $saturation: 20) !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

/* Main Section Colors */
// Background
$main-bg: #f8f8f8 !default;
$page-bg: #222 !default;
$article-border: #eeeeee !default;
$type-border: #ddd !default;
$header-bg: $geometric-bg;
$header-border: lighten(#333, 15) !default;

// Font
$title-color: #f2f2f2 !default;
$subtitle-color: #aaa !default;
$text-color: #222 !default;
$text-color-light: #aaa !default;

/* Navigation Colors */
// Background
$nav-bg: #aaa !default;
$nav-color: #f3f2f1 !default;
$nav-bg-gradient: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11)) !default;
$nav-placeholder: desaturate(darken($nav-bg, 10), 15) !default;
$nav-border: darken($nav-bg, 10) !default;
$nav-border-top: lighten($nav-bg, 15) !default;
$nav-border-bottom: darken($nav-bg, 25) !default;
$nav-border-left: darken($nav-bg, 11) !default;
$nav-border-right: lighten($nav-bg, 7) !default;
$search-bg: #f8f8f8 !default;

// Font
$nav-color: darken($nav-bg, 30);
$nav-color-hover: lighten($nav-color, 15) !default;

/* Sidebar Colors */
// Background
$sidebar-bg: darken($main-bg, 5) !default;
$sidebar-border: desaturate(darken($sidebar-bg, 7), 10) !default;
$sidebar-border-hover: darken($sidebar-bg, 7) !default;

// Font
$sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
$sidebar-link-color: $text-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;

/* Footer Colors */
$footer-bg: $nav-bg !default;
$footer-bg-gradient: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11)) !default;
$footer-color: darken($footer-bg, 25) !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-border-top: lighten($footer-bg, 15) !default;
$footer-border-bottom: darken($footer-bg, 15) !default;
$footer-link-color: darken($footer-color, 20) !default;
$footer-link-color-hover: darken($footer-color, 40) !default;
$page-border-bottom: darken($footer-bg, 5) !default;

/* Image Slider */
// Background
$slider-bg: $main-bg !default;
$slider-nav-bg: #333 !default;
$slider-arrow-color: lighten($slider-nav-bg, 30) !default;

/* Portfolio Index - Project Album Covers */
// Background
$project-cover-bg: #FFF !default;
$project-cover-footer-bg: #F2F2F2 !default;

// Font
$project-cover-subtitle-color: #999 !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
aside.sidebar a {
  @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-hover, $active: $sidebar-link-color-active);
}
a {
  @include transition(color .3s);
}

html {
  background: $page-bg image-url('line-tile.png') top left;
}

#main {
  background: $sidebar-bg $noise-bg;
  border-bottom: 1px solid $page-border-bottom;
}
#content {
  background: $main-bg;
  border-right: 1px solid $sidebar-border;
}
